VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_SOLANA_NETWORK=devnet
VITE_TREASURY_WALLET=
VITE_FC_TOKEN_MINT=
VITE_FC_PER_SOL=100
VITE_SOLANA_RPC_URL=https://api.devnet.solana.com
VITE_FC_USD_RATE=1
